* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background 0.4s ease;
}

h1 {
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  transition: color 0.4s ease;
}

p {
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: 2rem 0;
  transition: color 0.4s ease;
}

.btn {
  height: 4rem;
  width: 20rem;
  background: crimson;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}

.btn > a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.7rem;
  font-family: fantasy;
  user-select: none;
}

.dark {
  color: #ffffff;
  background: #000000;
  transition: all 0.4s ease;
}
